.e79_2 { 
	overflow:hidden;
}
.e79_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1466px;
	height:1035px;
	position:absolute;
}
.e79_4 { 
	background-color:rgba(13.812502026557922, 106.2499974668026, 34.14875239133835, 0.6499999761581421);
	width:1466px;
	height:149px;
	position:absolute;
	left:0px;
	top:0px;
}
.e79_5 { 
	width:742px;
	height:66px;
	position:absolute;
	left:681px;
	top:41px;
}
.e79_6 { 
	color:rgba(255, 255, 255, 1);
	width:92px;
	height:29px;
	position:absolute;
	left:103px;
	top:20px;
	font-family:Sora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e79_7 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:0px;
	top:21px;
	font-family:Sora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e79_8 { 
	color:rgba(255, 255, 255, 1);
	width:59px;
	height:25px;
	position:absolute;
	left:224px;
	top:22px;
	font-family:Sora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e79_9 { 
	color:rgba(255, 255, 255, 1);
	width:122px;
	height:26px;
	position:absolute;
	left:313px;
	top:21px;
	font-family:Sora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e79_10 { 
	color:rgba(255, 255, 255, 1);
	width:80px;
	height:26px;
	position:absolute;
	left:466px;
	top:20px;
	font-family:Sora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e79_11 { 
	width:175px;
	height:42px;
	position:absolute;
	left:567px;
	top:12px;
}
.e79_12 { 
	background-color:rgba(45.00000111758709, 48.000000938773155, 71.00000336766243, 1);
	width:175px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}
.e79_13 { 
	color:rgba(247.56250709295273, 247.56250709295273, 247.56250709295273, 1);
	width:155px;
	height:29px;
	position:absolute;
	left:10px;
	top:7px;
	font-family:Sora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e79_14 { 
	transform: rotate(90deg);
	width:66px;
	height:0px;
	position:absolute;
	left:553px;
	top:0px;
}

.e79_15 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:93px;
	height:0px;
	position:absolute;
	left:97px;
	top:50px;
}
.e79_15 { 
	border:3px solid rgba(45.00000111758709, 48.000000938773155, 71.00000336766243, 1);
}
.e79_25 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:593px;
	height:360px;
	position:absolute;
	left:197px;
	top:533px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}

.e79_28 { 
	width:527px;
	height:300px;
	position:absolute;
	left:230px;
	top:563px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}

.e79_29 { 
	transform: rotate(-1.9878464389449363e-16deg);
	color:rgba(45.00000111758709, 48.000000938773155, 71.00000336766243, 1);
	width:290.33319091796875px;
	height:45.89358139038086px;
	position:absolute;
	left:353.015380859375px;
	top:446px;
	font-family:Sora;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}

.e79_32 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e79_32 { 
	width:374.0013427734375px;
	height:0px;
	position:absolute;
	left:311px;
	top:441px;
}

.e79_37 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e79_37 { 
	width:285px;
	height:0px;
	position:absolute;
	left:1091px;
	top:940px;
}

.e79_39 { 
	background-color:rgba(0, 0, 0, 1);
	width:300px;
	height:148px;
	position:absolute;
	left:1082px;
	top:258px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}

.e79_41 { 
	transform: rotate(0.01042857483448368deg);
	width:285px;
	height:0px;
	position:absolute;
	left:1090px;
	top:416px;
}
.e79_41 { 
	border:1px solid rgba(0, 0, 0, 1);
}

.e79_46 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(13.999999165534973, 106.00000128149986, 33.99999417364597, 0.699999988079071);
	width:318px;
	height:495px;
	position:absolute;
	left:1075px;
	top:434px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e79_47 { 
	color:rgba(0, 0, 0, 1);
	width:301px;
	height:45px;
	position:absolute;
	left:1080px;
	top:448px;
	font-family:Sora;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e79_49 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:317px;
	position:absolute;
	left:1084px;
	top:480px;
	font-family:Sora;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}

.e79_53 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:1395px;
	height:62px;
	position:absolute;
	left:30px;
	top:167px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/captura_de_tela_2022_09_27_a_s_15_34_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e79_54 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e79_54 { 
	width:340px;
	height:0px;
	position:absolute;
	left:326px;
	top:507px;
}
.e79_57 { 
	color:rgba(0, 0, 0, 1);
	width:998px;
	height:152px;
	position:absolute;
	left:24px;
	top:315px;
	font-family:Sora;
	text-align:left;
	letter-spacing:0pc;
}
.e79_58 { 
	background-color:rgba(255, 43.562504053115845, 43.562504053115845, 1);
	width:171px;
	height:40px;
	position:absolute;
	left:26px;
	top:252px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e79_59 { 
	color:rgba(11.68750025331974, 11.68750025331974, 11.68750025331974, 1);
	width:169px;
	height:36px;
	position:absolute;
	left:28px;
	top:256px;
	font-family:Abril Fatface;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e79_64 { 
	transform: rotate(-180deg);
	width:98.0051040649414px;
	height:0px;
	position:absolute;
	left:63px;
	top:285px;
}
.e79_64 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e79_130 { 
	width:110px;
	height:100px;
	position:absolute;
	left:100px;
	top:24px;
	background-image:url(images/logo\ branco.png);
	background-repeat:no-repeat;
	background-size:cover;
}

a:link {
	color:rgb(110, 184, 26);
}


a:visited {
	color:rgb(110, 184, 26);
}


a:hover {
    color:rgba(14, 194, 14, 0.911);
}

a:active {
	color:rgba(14, 194, 14, 0.911);
}


