.e68_2 {
	overflow: hidden;
}

.e68_2 {
	background-color: rgba(255, 255, 255, 1);
	width: 1440px;
	height: 1052px;
	position: absolute;
}

.e68_3 {
	background-color: rgba(13.812502026557922, 106.2499974668026, 34.14875239133835, 0.6499999761581421);
	width: 1440px;
	height: 149px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e68_4 {
	width: 546px;
	height: 29px;
	position: absolute;
	left: 824px;
	top: 60px;
}

.e68_5 {
	color: rgba(255, 255, 255, 1);
	width: 91px;
	height: 29px;
	position: absolute;
	left: 103px;
	top: 0px;
	font-family: Sora;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}

.e68_6 {
	color: rgba(255, 255, 255, 1);
	width: 73px;
	height: 26px;
	position: absolute;
	left: 0px;
	top: 1px;
	font-family: Sora;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}

.e68_7 {
	color: rgba(255, 255, 255, 1);
	width: 59px;
	height: 25px;
	position: absolute;
	left: 224px;
	top: 2px;
	font-family: Sora;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}

.e68_8 {
	color: rgba(255, 255, 255, 1);
	width: 122px;
	height: 26px;
	position: absolute;
	left: 313px;
	top: 1px;
	font-family: Sora;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}

.e68_9 {
	color: rgba(255, 255, 255, 1);
	width: 80px;
	height: 26px;
	position: absolute;
	left: 466px;
	top: 0px;
	font-family: Sora;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}

.e68_15 {
	width: 1440px;
	height: 903px;
	position: absolute;
	left: 0px;
	top: 149px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.e68_16 {
	box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
	background-color: rgba(246.76562905311584, 242.65286654233932, 242.65286654233932, 1);
	width: 1075px;
	height: 713px;
	position: absolute;
	left: 193px;
	top: 75px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.e68_17 {
	box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
	background-color: rgba(13.999999165534973, 106.00000128149986, 33.99999417364597, 0.699999988079071);
	width: 343px;
	height: 713px;
	position: absolute;
	left: 193px;
	top: 75px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.e68_18 {
	color: rgba(0, 0, 0, 1);
	width: 188px;
	height: 56px;
	position: absolute;
	left: 270px;
	top: 149px;
	font-family: Sora;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
}

.e68_19 {
	box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
	background-color: rgba(236.93750202655792, 229.03958022594452, 229.03958022594452, 1);
	width: 525px;
	height: 60px;
	position: absolute;
	left: 640px;
	top: 349px;
	border-radius: 20px;
}

.e68_20 {
	box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
	background-color: rgba(236.93750202655792, 229.03958022594452, 229.03958022594452, 1);
	width: 525px;
	height: 60px;
	position: absolute;
	left: 640px;
	top: 242px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.e68_21 {
	box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
	background-color: rgba(236.93750202655792, 229.03958022594452, 229.03958022594452, 1);
	width: 525px;
	height: 60px;
	position: absolute;
	left: 640px;
	top: 456px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.e68_22 {
	box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
	background-color: rgba(236.93750202655792, 229.03958022594452, 229.03958022594452, 1);
	width: 248px;
	height: 60px;
	position: absolute;
	left: 640px;
	top: 563px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.e68_23 {
	box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
	background-color: rgba(13.999999165534973, 106.00000128149986, 33.99999417364597, 0.699999988079071);
	width: 268px;
	height: 60px;
	position: absolute;
	left: 764px;
	top: 670px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.e68_24 {
	color: rgba(0, 0, 0, 1);
	width: 164px;
	height: 37px;
	position: absolute;
	left: 690px;
	top: 687px;
	font-family: Sora;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}

.e68_25 {
	color: rgba(164.6874949336052, 164.6874949336052, 164.6874949336052, 1);
	width: 108px;
	height: 19px;
	position: absolute;
	left: 694px;
	top: 261px;
	font-family: Sora;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
}

.e68_26 {
	color: rgba(164.6874949336052, 164.6874949336052, 164.6874949336052, 1);
	width: 65px;
	height: 25px;
	position: absolute;
	left: 694px;
	top: 368px;
	font-family: Sora;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
}

.e68_27 {
	color: rgba(164.6874949336052, 164.6874949336052, 164.6874949336052, 1);
	width: 87px;
	height: 14px;
	position: absolute;
	left: 697px;
	top: 471px;
	font-family: Poppins;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
}

.e68_28 {
	color: rgba(164.6874949336052, 164.6874949336052, 164.6874949336052, 1);
	width: 161px;
	height: 30px;
	position: absolute;
	left: 689px;
	top: 580px;
	font-family: Sora;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
}

.e68_29 {
	width: 343px;
	height: 314px;
	position: absolute;
	left: 193px;
	top: 474px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-image: url(images/barreiras_1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e68_30 {
	box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
	background-color: rgba(13.999999165534973, 106.00000128149986, 33.99999417364597, 0.699999988079071);
	width: 536px;
	height: 96px;
	position: absolute;
	left: 652px;
	top: 94px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.e68_31 {
	color: rgba(2.1250001108273864, 2.116145873442292, 2.116145873442292, 1);
	width: 462px;
	height: 59px;
	position: absolute;
	left: 741px;
	top: 121px;
	font-family: Sora;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
}

.e68_14 {
	width: 110px;
	height: 100px;
	position: absolute;
	left: 63px;
	top: 13px;
	background-image: url(images/logo\ branco.png);
	background-repeat: no-repeat;
	background-size: cover;
}

input {
	background-color: var(--color-realbox-background);
	border: none;
	border-radius: var(--ntp-realbox-border-radius);
	color: var(--color-realbox-foreground);
	font-family: inherit;
	font-size: inherit;
	outline: 0;
	position: relative;
	width: 425px;
}

#number {
	background-color: var(--color-realbox-background);
	border: none;
	border-radius: var(--ntp-realbox-border-radius);
	color: var(--color-realbox-foreground);
	font-family: inherit;
	font-size: inherit;
	outline: 0;
	position: relative;
	width: 170px;

}

a:link {
	color:rgb(110, 184, 26);
}


a:visited {
	color:rgb(110, 184, 26);
}


a:hover {
    color:rgba(14, 194, 14, 0.911);
}

a:active {
	color:rgba(14, 194, 14, 0.911);
}

