.e76_2 { 
	overflow:hidden;
}
.e76_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e76_3 { 
	background-color:rgba(13.812502026557922, 106.2499974668026, 34.14875239133835, 0.6499999761581421);
	width:1440px;
	height:149px;
	position:absolute;
	left:0px;
	top:0px;
}
.e76_4 { 
	width:742px;
	height:66px;
	position:absolute;
	left:687px;
	top:41px;
}
.e76_5 { 
	color:rgba(255, 255, 255, 1);
	width:91px;
	height:29px;
	position:absolute;
	left:103px;
	top:20px;
	font-family:Sora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e76_6 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:0px;
	top:21px;
	font-family:Sora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e76_7 { 
	color:rgba(255, 255, 255, 1);
	width:59px;
	height:25px;
	position:absolute;
	left:224px;
	top:22px;
	font-family:Sora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e76_8 { 
	color:rgba(255, 255, 255, 1);
	width:122px;
	height:26px;
	position:absolute;
	left:313px;
	top:21px;
	font-family:Sora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e76_9 { 
	color:rgba(255, 255, 255, 1);
	width:80px;
	height:26px;
	position:absolute;
	left:466px;
	top:20px;
	font-family:Sora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e76_10 { 
	width:175px;
	height:42px;
	position:absolute;
	left:567px;
	top:12px;
}
.e76_11 { 
	background-color:rgba(45.00000111758709, 48.000000938773155, 71.00000336766243, 1);
	width:175px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}
.e76_12 { 
	color:rgba(247.56250709295273, 247.56250709295273, 247.56250709295273, 1);
	width:155px;
	height:29px;
	position:absolute;
	left:10px;
	top:7px;
	font-family:Sora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}

.e76_14 { 
	width:110px;
	height:100px;
	position:absolute;
	left:112px;
	top:25px;
	background-image:url(images/logo\ branco.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.e76_15 { 
	width:1440px;
	height:260px;
	position:absolute;
	left:0px;
	top:149px;
	background-image:url(images/1645056981620d93d511d23_1645056981_3x2_md_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e76_16 { 
	color:rgba(0, 0, 0, 1);
	width:680px;
	height:116px;
	position:absolute;
	left:17px;
	top:518px;
	font-family:Sora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e76_18 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(13.812502026557922, 106.2499974668026, 34.14875239133835, 0.6499999761581421);
	width:619px;
	height:220px;
	position:absolute;
	left:762px;
	top:458px;
	border-radius:20px;
}
.e76_19 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(13.812502026557922, 106.2499974668026, 34.14875239133835, 0.6499999761581421);
	width:619px;
	height:270px;
	position:absolute;
	left:762px;
	top:715px;
	border-radius:20px;
}
.e76_20 { 
	color:rgba(255, 255, 255, 1);
	width:619px;
	height:222px;
	position:absolute;
	left:762px;
	top:450px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e76_21 { 
	color:rgba(255, 255, 255, 1);
	width:620px;
	height:230px;
	position:absolute;
	left:761px;
	top:708px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e76_22 { 
	color:rgba(0, 0, 0, 1);
	width:227px;
	height:40px;
	position:absolute;
	left:275px;
	top:830px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e76_23 { 
	width:34px;
	height:34px;
	position:absolute;
	left:275px;
	top:878px;
	background-image:url(images/mail_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e76_24 { 
	width:34px;
	height:34px;
	position:absolute;
	left:275px;
	top:920px;
	background-image:url(images/mail_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e76_25 { 
	color:rgba(0, 0, 0, 1);
	width:337px;
	height:24px;
	position:absolute;
	left:316px;
	top:883px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e76_26 { 
	color:rgba(0, 0, 0, 1);
	width:263px;
	height:24px;
	position:absolute;
	left:316px;
	top:925px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e262_2 { 
	border:3px solid rgba(45.00000111758709, 48.000000938773155, 71.00000336766243, 1);
}
.e262_2 { 
	width:117px;
	height:0px;
	position:absolute;
	left:996px;
	top:92px;
}

a:link {
	color:rgb(110, 184, 26);
}


a:visited {
	color:rgb(110, 184, 26);
}


a:hover {
    color:rgba(14, 194, 14, 0.911);
}

a:active {
	color:rgba(14, 194, 14, 0.911);
}

