.e10_2 { 
	overflow:hidden;
}
.e10_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e10_3 { 
	background-color:rgba(241.18749797344208, 235.34265160560608, 219.07864272594452, 0.17000000178813934);
	width:1440px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}
.e10_4 { 
	background-color:rgba(13.812502026557922, 106.2499974668026, 34.14875239133835, 0.6499999761581421);
	width:1440px;
	height:149px;
	position:absolute;
	left:0px;
	top:0px;
}
.e10_5 { 
	width:742px;
	height:66px;
	position:absolute;
	left:649px;
	top:44px;
}
.e10_6 { 
	color:rgba(255, 255, 255, 1);
	width:91px;
	height:29px;
	position:absolute;
	left:103px;
	top:20px;
	font-family:Sora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e10_7 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:0px;
	top:21px;
	font-family:Sora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e10_8 { 
	color:rgba(255, 255, 255, 1);
	width:59px;
	height:25px;
	position:absolute;
	left:224px;
	top:22px;
	font-family:Sora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e10_9 { 
	color:rgba(255, 255, 255, 1);
	width:122px;
	height:26px;
	position:absolute;
	left:313px;
	top:21px;
	font-family:Sora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e10_10 { 
	color:rgba(255, 255, 255, 1);
	width:80px;
	height:26px;
	position:absolute;
	left:466px;
	top:20px;
	font-family:Sora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e10_11 { 
	width:175px;
	height:42px;
	position:absolute;
	left:567px;
	top:12px;
}
.e10_12 { 
	background-color:rgba(45.00000111758709, 48.000000938773155, 71.00000336766243, 1);
	width:175px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}
.e10_13 { 
	color:rgba(247.56250709295273, 247.56250709295273, 247.56250709295273, 1);
	width:155px;
	height:29px;
	position:absolute;
	left:10px;
	top:7px;
	font-family:Sora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}

.e10_15 { 
	border:3px solid rgba(45.00000111758709, 48.000000938773155, 71.00000336766243, 1);
}
.e10_15 { 
	width:53px;
	height:0px;
	position:absolute;
	left:222px;
	top:52px;
}
.e68_34 { 
	width:110px;
	height:100px;
	position:absolute;
	left:74px;
	top:28px;
	background-image:url(images/logo\ branco.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e10_18 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:408.5942077636719px;
	height:409.7198181152344px;
	position:absolute;
	left:40px;
	top:404.28021240234375px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e10_19 { 
	color:rgba(45.00000111758709, 48.000000938773155, 71.00000336766243, 1);
	width:341.0579833984375px;
	height:58.531402587890625px;
	position:absolute;
	left:73.76811218261719px;
	top:481.94683837890625px;
	font-family:Sora;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e10_20 { 
	color:rgba(45.00000111758709, 48.000000938773155, 71.00000336766243, 1);
	width:396.2125549316406px;
	height:196.98068237304688px;
	position:absolute;
	left:46.753623962402344px;
	top:569.7439575195312px;
	font-family:Sora;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e10_21 { 
	border-radius:20px;
	background-color:rgba(45.00000111758709, 48.000000938773155, 71.00000336766243, 1);
	width:112.56038665771484px;
	height:112.56038665771484px;
	position:absolute;
	left:188.5797119140625px;
	top:348px;
}
.e10_24 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:408.5942077636719px;
	height:409.7198181152344px;
	position:absolute;
	left:516px;
	top:404.28021240234375px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e10_25 { 
	color:rgba(45.00000111758709, 48.000000938773155, 71.00000336766243, 1);
	width:351.18841552734375px;
	height:58.531402587890625px;
	position:absolute;
	left:545.2656860351562px;
	top:481.94683837890625px;
	font-family:Sora;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e10_26 { 
	color:rgba(45.00000111758709, 48.000000938773155, 71.00000336766243, 1);
	width:387.2077331542969px;
	height:202.6086883544922px;
	position:absolute;
	left:527.2560424804688px;
	top:578.748779296875px;
	font-family:Sora;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e10_27 { 
	border-radius:20px;
	background-color:rgba(45.00000111758709, 48.000000938773155, 71.00000336766243, 1);
	width:112.56038665771484px;
	height:112.56038665771484px;
	position:absolute;
	left:674.7101440429688px;
	top:348px;
}
.e10_30 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:408.5942077636719px;
	height:409.7198181152344px;
	position:absolute;
	left:991px;
	top:404.28021240234375px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e10_31 { 
	color:rgba(45.00000111758709, 48.000000938773155, 71.00000336766243, 1);
	width:351.18841552734375px;
	height:58.531402587890625px;
	position:absolute;
	left:1020.2656860351562px;
	top:481.94683837890625px;
	font-family:Sora;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e10_32 { 
	color:rgba(45.00000111758709, 48.000000938773155, 71.00000336766243, 1);
	width:387.2077331542969px;
	height:202.6086883544922px;
	position:absolute;
	left:1002.2560424804688px;
	top:578.748779296875px;
	font-family:Sora;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e10_33 { 
	border-radius:20px;
	background-color:rgba(45.00000111758709, 48.000000938773155, 71.00000336766243, 1);
	width:112.56038665771484px;
	height:112.56038665771484px;
	position:absolute;
	left:1149.710205078125px;
	top:348px;
}

.e10_54 { 
	width:103px;
	height:89px;
	position:absolute;
	left:680px;
	top:359px;
}

.e10_61 {
	background-image:url(images/informacoes.png);
	background-repeat: no-repeat;
	top: 375px;
	left: 213px;
	position: absolute;
	height: 120px;
	width: 110px;
}

.e10_62 {
	background-image:url(images/pergunta.png);
	background-repeat: no-repeat;
	top: 375px;
	left: 700px;
	position: absolute;
	height: 120px;
	width: 110px;
}

.e10_63 {
	background-image:url(images/localizacao.png);
	background-repeat: no-repeat;
	top: 340px;
	left: 1143px;
	position: absolute;
	height: 120px;
	width: 110px;
}

a:link {
	color:rgb(110, 184, 26);
}


a:visited {
	color:rgb(110, 184, 26);
}


a:hover {
    color:rgba(14, 194, 14, 0.911);
}

a:active {
	color:rgba(14, 194, 14, 0.911);
}
