@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-thin-straight/css/uicons-thin-straight.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


* {
  padding: 0;
  margin: 0;
}

#header {
  width: 100%;
  height: 60px;
  justify-content: space-between;
  background-color: #b1d973;
  align-items: center;
  display: flex;
  padding: 25px;
}

#p {
  margin-top: 15px;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  font-size:larger;
}

#p2 {
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    font-size:larger;
    justify-content: center;
    display: flex;
  }

.p3 {
 justify-content: center;
 display: flex;
 font-family: 'Roboto Slab', serif;
 font-size: large;
}

.div {
  flex-direction: row;
  display: flex;
  align-items: center;
  margin-left: 8px;
  width: 100%;
}

#div2 {
  flex-direction: column;
  justify-content: center;
  display: flex;
  margin-top: 12%;
  margin-right: 45px;
}

#img1 {
  width: 2.5em;
  height: 2.5em;
}


#numeroNovo {
    width: 15%;
    margin-left: 42.2%;
    margin-top: 2%;
    border-radius: 10px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.514);
    padding: 3px;
}

#botao {
    width: 10%;
    margin-left: 45%;
    margin-top: 3%;
    padding: 3px;
    background-color: #b1d973;
    border-radius: 10px;
    border: #b1d973;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.514);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;

}

input[type=number] {
    -moz-appearance: textfield;
}
